* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 10000px;
}
.banner {
  height: 33rem;
}
.carousel-item {
  height: 490px;
  background-color: black;
}
.carousel-item img {
  opacity: 0.5;
}
